<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List of Completed Works</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>List of Completed Works</h3>
    <hr/>
    <a th:href="@{/add-working-hour-form}" class="btn btn-primary">Add New Working Hour</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="completedWorkTable">

        <thead>
        <tr>
            <th>Start Time</th>
            <th>Finish Time</th>
            <th>Where?</th>
            <th>What did you do?</th>
<!--            <th>Total Hours</th>-->
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="completedWork: ${completedWork}">
            <td th:text="${completedWork.startTime}" />
            <td th:text="${completedWork.finishTime}" />
            <td th:text="${completedWork.textWhere}" />
            <td th:text="${completedWork.textDescription}" />
<!--            <td th:text="${completedWork.totalHours}"/>-->

            <td>
                <a th:href="@{/showUpdateForm(completedWorkId=${completedWork.id})}" class="btn btn-info">Update</a>
                <a th:href="@{/deleteWork(completedWorkId=${completedWork.id})}" class="btn btn-danger ml-2">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
			$(document).ready(function() {
				$("#completedWorkTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>

</body>

</html>