<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />

</head>
<body>
<nav class="navbar navbar-light bg-light">
   <div class="navbar-brand mb-0 h1">
       <h1>Users: <span th:text="${userList.size()}"></span></h1>
    </div>
</nav>
</br>
<div>
    <form action="/users" method="get" class="margin-right">
        <label>Search:  </label>
        <input placeholder="Find User" name="search" th:value="${searchText}"/>
        <select name="searchBy">
            <option>name</option>
            <option>id</option>
        </select>
            <button type="submit">Search</button>
    </form>
</div>

<div>
    <ul>
        <li th:each="user : ${userList}">
            <div class="card bg-light mb-3" style="max-width:18rem;
                        padding-top: 10px;
                          padding-right: 10px;
                          padding-bottom: 10px;
                          padding-left: 10px;">
                <div class="ml-2"><span>Name: </span><span th:text="${user.getName()}"></span></div>
                <div class="ml-2"><span>User ID: </span><span th:text="${user.getId()}"></span>

                    <div>
                        <a class="btn btn-info ml-1" th:href="'/user/view/' + ${user.id}">View</a>
                        <a class="btn btn-warning ml-1" th:href="'/user/update/' + ${user.id}">Update</a>
                        <a class="btn btn-danger ml-1"  th:href="'/user/delete/' + ${user.id}">Delete</a>
                    </div>
                </div>
            </div>
            </br>
        </li>
    </ul>
</div>
</body>
</html>