<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
<header>
    <h3> User View </h3>
</header>
<div>
    <div>
        <div><span>Name: </span><span th:text="${user.getName()}"></span></div>
        <div><span>userID: </span><span th:text="${user.getId()}"></span>

            <div>
                <a th:href="'/user/update/' + ${user.id}">update</a>
                <a th:href="'/user/delete/' + ${user.id}">delete</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>